<h1>Editing Prestamo</h1>

<%= render 'form', prestamo: @prestamo %>

<%= link_to 'Show', @prestamo, :class=>"btn btn-outline-info" %> |
<%= link_to 'Back', prestamos_path, :class => "btn btn-outline-danger"  %>
