
<p id="notice"><%= notice %></p>

<h1 class="h1">Integrantes</h1>

   <Br>
    <div class="container-fluid p-5 my-5">
    <p class="h4">
        Isai Hernandez Garcia
    </p>
    <Br>
     <p class="h4">
        Jeisson Olivares Pulido
    </p>
    </div>
       

 
  <%= link_to "Home", usuarios_path, :class => "btn btn-outline-success" %>